<div id="search-container" style="width: 25%">
  <input type="text" id="search-input" placeholder="What genre would you like to explore?">
  <ul id="search-results"></ul>
</div>
  <div>
       <button id="search-button">Search</button> 
    </div>
 <div class="flex-column" id="books-container">
        </div>


        {{#each bookList as | book |}}
<div class="book-card-1" id = 'book-info'>
    <div class="book-card-header" id = 'title'>
        {{book.title}}
    </div>
    <div class="card-body">
        <p>
            Author:
            {{book.authors}}
            {{!-- {{book.id}} --}}
            Pages:
            {{book.pages}}
            <a href = '{{book.thumbnail}}'><img src = '{{book.thumbnail}}'></a>
            
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{book.id}}">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{book.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
        </p>
    </div>
    <div>
       <button class="save-button" id="save-button" book-id={{book.id}}>Save</button> 
    </div>
</div>
{{/each}}
        
<script src="js/recs.js"></script>
