<form>
  <div class="form-group">
    <label for="searchInput"id = 'searchInput'>Search Input:</label>
    <input  class="form-control" id="searchTerm"  placeholder="Enter Search Terms for the Book Database!">
  </div>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form>

{{#each bookList as | book |}}
<div class="book-card-1" id = 'book-info'>
    <div class="book-card-header" id = 'title'>
        {{book.title}}
    </div>
    <div class="card-body">
        <p>
            Author:
            {{book.authors}}
            {{book.id}}
            Pages:
            <a href = '{{book.thumbnail}}'><img src = '{{book.thumbnail}}'></a>
            
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{book.id}}">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{book.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
        </p>
    </div>
    <div>
       <button class="save-button" id="save-button" book-id={{book.id}}>Save</button> 
    </div>
</div>
{{/each}}


