<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Search Input:</label>
    <input  class="form-control" id="searchTerm"  placeholder="Enter Search Terms for the Book Database!">
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">Select either Title, Author, or Genre</label>
    <select class="form-control" id="searchSelector">
      <option>Title</option>
      <option>Author</option>
      <option>Genre</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form>

{{#each bookList}}
<div class="book-card-1">
    <div class="book-card-header">
        {{title}}
    </div>
    <div class="card-body">
        <p>
            Author:
            {{authors}}
            Pages:
            {{thumbnail}}
            Description:
            {{description}}
        </p>
    </div>
    <div>
       <button class="save-button" book-index={{@index}}>Save</button> 
    </div>
</div>
{{/each}}

<script src="js/search.js"></script>
