
{{#each books}}
<div class="book-card-1">
    <div class="book-card-header">
        {{book_name}}
    </div>
    <div class="card-body" id="book-info">
        <p>
            Author:
            {{author}}
            Pages:
            {{pages}}
            Description:
            {{description}}
        </p>
    </div>
    <div>
       <button class="save-button" book-index={{@index}}>Save</button> 
    </div>
</div>
{{/each}}

<script src="js/search.js"></script>
